.title_bar
  Professional Web Design
%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430",
        :src => "http://www.youtube.com/embed/nipp8YhJseU", :title => "YouTube video player", :width => "640"}