.title_bar
  Realtime app

.board-area
  .board-outer
    - 100.times do |count|
      - if count == 33
        .board-cell.char1
      - else
        .board-cell
  .board-control
    %input{:type => "button", :value => "^", :class => "control-move-button", :onclick => "move('up')"}
    %input{:type => "button", :value => "<", :class => "control-move-button", :onclick => "move('left')"}
    %input{:type => "button", :value => ">", :class => "control-move-button", :onclick => "move('right')"}
    %input{:type => "button", :value => "v", :class => "control-move-button", :onclick => "move('down')"}
.clear-both
.chat-area
  #chat-log
    = image_tag "loading.gif", :id => "chat-loading"
  %input{:type => "text", :placeholder => "Username", :class => "realtime-chat-user"}
  %input{:type => "text", :placeholder => "Message", :class => "realtime-chat-input"}
  %input{:type => "button", :value => "Send", :class => "realtime-chat-submit"}

:javascript
  var client, public_subscription;
  function sendMessage(event, data) {
    client.publish(event, data);
  }
  function initClient() {
    client = new Faye.Client('http://master619.zapto.org:9292/faye');
  }
  function subscribe(channel, func) {
    public_subscription = client.subscribe(channel, func);
  }
  function handleData(event, data) {
    if(event == "chat") {
      $("#chat-log").append("<div><b>" + data.username + ": </b>" + data.message + "</div>");
    }
  }
  $(document).ready(function() {
    var start = new Date();
    //initClient();
    //subscribe('/messages/public', function(data) {
    //  handleData(data.event, data)
    //});
    //$(".realtime-chat-submit").click(function() {
    //  user = $(".realtime-chat-user").val();
    //  mess = $(".realtime-chat-input").val();
    //  sendMessage('/messages/public', {
    //    event: "chat",
    //    username: user,
    //    message: mess
    //  })
    //});
    $(document).keydown(function(event) {
      if(handleKey(event))
        event.preventDefault();
    })
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
    var pusher = new Pusher('2d8d38de9d63a31169b9');
    pusher.connection.bind('connected', function() {
      var end = new Date();
      $("#chat-log").append("<div><b>Connected in: </b>" + (end - start).toString() + " ms</div>");
      $('.realtime-chat-user, .realtime-chat-submit, .realtime-chat-input').removeAttr('disabled');
      $("#chat-loading").remove();
    });
    var channel = pusher.subscribe('realtime-chat');
    channel.bind('chat', function(data) {
      $("#chat-log").append("<div><b>" + data.username + ": </b>" + data.message + "</div>");
    });
    $(".realtime-chat-submit").click(function() {
      user = $(".realtime-chat-user").val();
      mess = $(".realtime-chat-input").val();
      $.ajax({
        url: "/app/chat",
        type: "POST",
        data: {
          user: user,
          message: mess
        }
      });
    });
    $('.realtime-chat-user, .realtime-chat-submit, .realtime-chat-input').attr('disabled', 'disabled');
  });