#auction-body {
  width: 100%;
  min-height: 700px;
  height: auto;
  background: #E3E0D1;
  color: #5C0D11;

  #auction-caption {
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px #5C0D11 solid;
    border-radius: 5px;
  }

  #auction-create-table {
    margin-left: 20px;

    #auction_description {
      width: 100%;
    }

    #rule-add, #item-add, #item-generate-code, #item-same-start {
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        color: red;
      }
    }

    .rule-delete, .item-delete {
      cursor: pointer;
      text-decoration: none;
      color: #5C0D11;
      display: inline;
      margin-left: 30px;

      &:hover {
        font-weight: bold;
      }
    }

    .item_code {
      width: 60px;
    }
  }

  #auction-create-button {
    margin-left: 20px;
    border: 1px #5C0D11 solid;
    border-radius: 3px;
    background: #E3E0D1;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}