body {
  background: black;
  min-width: 1000px;

  #main-menu {
    position:absolute;
    top: 6%;
    right: 11%;
    max-left: 800px;
    width: 50%;
    height: 4%;

    .main-menu-item {
      font-family: calibri;
      text-align: center;
      font-size: 20px;
      width: auto;
      padding: 3px 20px 0px 20px;
      height: 100%;
      color: black;
      float: right;
      background: white;
      border-radius: 8px 8px 0 0;
      border-width: 1px 1px 0 1px;
      border: #29407C solid;
      cursor: pointer;

      &:hover {
        background: #29407C;
        color: white;
      }
    }
  }
  
  #center {
    width: 80%;
    min-width: 800px;
    min-height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 0 0 5em white;
    background: white;
    text-align: center;

    .title_bar {
      font-size: 28px;
      font-family: helvetica;
      border-radius: 8px;
      height: 40px;
      vertical-align: middle;
      background: #D08504;
      margin: 10px;
      color: white;
    }
  }
}

.hide {
  display: none;
}