!!!
%html
  %head
    %title Master619's Portfolio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #outer
      #header
      #main-menu
        .main-menu-item{:onclick => "switchPane('blog');"}
          Blog
        .main-menu-item{:onclick => "switchPane('contact');"}
          Contact
        .main-menu-item{:onclick => "switchPane('profile');"}
          Profile
        .main-menu-item{:onclick => "switchPane('home');"}
          Home
      #center
        = yield
      #footer

:javascript
  function switchPane(item) {
    $('#center').html('<div><img src="/assets/loading.gif"/></div>')
    $.ajax({
      url: "/dashboard/switch",
      type: "post",
      data: {
        frame: item
      }
    });
  }

  $(document).ready(function() {

  });